@model IEnumerable<Helperland.ViewModels.CustomerDashboard>;

@{
    int ServiceHistoryCount = 0;
}

<div class="col-md-7 main-table">
    <div class="service-heading">
        <div class="heading">
            <p>Service History</p>
        </div>
        <div class="export" id="export">
            <input class="rounded-pill" type="button" value="Export" id="btnExport" onclick="exportexcel()">
        </div>
    </div>


    <table class="historyTable" id="HistoryTable">

        <thead>
            <tr>
                <th class="col-md-2" onclick="sortTable(0)" style="cursor:pointer">
                    Service Details 
                </th>
                <th class="col-md-2" onclick="sortTable(1)" style="cursor:pointer">
                    Service Provider 
                </th>
                <th class="col-md-1" onclick="sortTable(2)" style="cursor:pointer">
                    Payment 
                </th>
                <th class="col-md-1" style="cursor:pointer">
                    Status 
                </th>
                <th class="col-md-1 rateSp" style="cursor:pointer">
                    Rate SP
                </th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Count() > 0)
            {

                @foreach (var item in Model)
                {

                    @if (item.Status == 3 || item.Status == 4)
                    {


                        string statusbtn;              @* disabled, rateClass,*@

                        @if (item.Status == 3)
                        {
                            @*rateClass = "rateactive";*@
                            statusbtn = "completed";
                            @*disabled = "";*@
                        }
                        else
                        {

                            statusbtn = "cancelled";
                            @*disabled = "disabled";*@
                            @*rateClass = "rateDisabled";*@
                        }

                        ServiceHistoryCount = ServiceHistoryCount + 1;
                        <tr>
                            <td class="service-date" data-label="Service Details">
                                <div class="servicedatediv">
                                    <p>
                                        <img src="~/Images/calendar.png">&nbsp;<span>@item.Date</span>
                                    </p>
                                    <p>
                                        @item.StartTime - @item.EndTime
                                    </p>
                                </div>
                            </td>
                            <td data-label="Service Provider">
                                <div class="pro_info">
                                    <div class="cap-icon">
                                        <img src="~/Images/forma-1-copy-19.png">
                                    </div>
                                    <div class="pro-name">
                                        <p>Lyum Watson</p>
                                        <p>
                                            <img src="~/Images/star1.png">
                                            <img src="~/Images/star1.png">
                                            <img src="~/Images/star1.png">
                                            <img src="~/Images/star1.png">
                                            <img src="~/Images/star2.png">
                                            4
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="service-cost" data-label="Payment">
                                <div class="service-costdiv">
                                    <span class="payAmount">€ <span>@item.TotalCost</span></span>
                                </div>
                            </td>
                            <td data-label="Status">
                                <div class="statusmain">
                                    <div class="status-complete status @statusbtn">
                                        @statusbtn
                                    </div>
                                </div>
                            </td>
                            <td data-label="Rate SP">
                                <div class="ratediv">
                                    <button class="rounded-pill rate-button">Rate SP</button>
                                </div>
                            </td>
                        </tr>

                    }
                }
            }

        </tbody>
    </table>



    <div class="page-control">
        <div class="page-control-left">
            <p>Show</p>
            <select name="entries" id="entries">

                @if (ServiceHistoryCount > 0)
                {
                    @for (int i = ServiceHistoryCount; i > 0; i--)
                    {
                        <option value="@i">@i</option>
                    }
                }
                <!--option value="10">10</!--option>
                <option value="10">9</option>
                <option value="10">8</option>
                <option value="10">7</option>
                <option value="10">6</option>
                <option value="10">5</option>
                <option value="10">4</option>
                <option value="10">3</option-->
            </select>
            <p>entries</p>
            <p>Total Records: <span>@ServiceHistoryCount</span></p>
        </div>

        <div class="page-control-right" id="pg-right">

            <a href=# class="page-btn"><img src="~/Images/first-page.png" alt="first page"></a>


            <a href=# class="page-btn"><img src="~/Images/polygon-1-copy-5.png" alt="previous page"></a>


            <a href=# class="page-btn page-no active-2">
                <p>1</p>
            </a>


            <a href=# class="page-btn page-no">
                <p>2</p>
            </a>


            <a href=# class="page-btn page-no">
                <p>3</p>
            </a>


            <a href=# class="page-btn page-no">
                <p>4</p>
            </a>


            <a href=# class="page-btn">
                <img src="~/Images/polygon-1-copy-5.png" alt="next  page"
                     style="transform: rotate(180deg);">
            </a>


            <a href=# class="page-btn">
                <img src="~/Images/first-page.png" alt="last page"
                     style="transform: rotate(180deg);">
            </a>

        </div>
    </div>
</div>


<script>

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("HistoryTable");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>