@model IEnumerable<Helperland.ViewModels.NewServiceReq>;




<div class="col-lg-7 col-md-10 NewServContainer right-container">

    <div class="NewServControls">
        <div class="NewServSelect">
            <label for="ServArea" style="margin-right: 10px;">Service Area</label>
            <select id="ServArea">
                <option value="10"><span>10</span> km</option>
                <option value="20"><span>20</span> km</option>
                <option value="30"><span>30</span> km</option>
            </select>
        </div>
        <div class="NewServCheckbox">
            <input type="checkbox" id="PetsCheck" checked>
            <label for="PetsCheck"> Include Pets at Home</label>
        </div>
    </div>
    <table class="NewServTable" id="NewServTable">
        <thead>
            <tr>
                <th class="col-md-1" onclick="sortNSTable(0)" style="cursor: pointer;">
                    Service ID
                </th>
                <th class="col-md-1" onclick="sortNSTable(1)" style="cursor: pointer;">
                    Service Date
                </th>
                <th class="col-md-2 NScustomer-detail" style="cursor: pointer;">
                    Customer details
                </th>
                <th class="col-md-1" onclick="sortNSTable(2)" style="cursor: pointer;">
                    Payment
                </th>
                <th class="col-md-1">
                    Time conflict
                </th>
                <th class="col-md-1">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr data-value="@item.ServiceRequestId">
                        <td data-label="Service ID" class="NS-ServId">
                            <span>@item.ServiceRequestId</span>
                        </td>
                        <td data-label="Service Date" class="NS-ServDate">
                            <div class="NS-ServDateSpan">
                                <p>
                                    <img src="~/Images/calendar2.png"> <span class="service-date">@item.Date</span>
                                </p>
                                <p>
                                    <img src="~/Images/layer-14.png">@item.StartTime - @item.EndTime
                                </p>
                            </div>
                        </td>
                        <td class="NS-CustDetail" data-label="Customer details">
                            <p>
                                @item.CustomerName
                            </p>
                            <p>
                                <img src="~/Images/layer-15.png" style="padding-bottom: 3px;">&nbsp;<span class="detailContent2">@item.Address</span><span class="d-none">@item.HasPet </span>
                            </p>
                        </td>
                        <td data-label="Payment" class="NS-Payment">
                            <span class="nsPaySpan">&euro; @item.TotalCost </span>
                        </td>
                        <td data-label="Time conflict" class="NS-TimeConf">
                            @{
                                string conflictIdtemp = "Conflict" + @item.ServiceRequestId;
                            }
                            <a class="newReqConflictBtn d-none" id=@conflictIdtemp>Conflict</a>
                        </td>
                        <td class="nsTableAcceptbtn">
                            <button class="rounded-pill accept-button">Accept</button>
                        </td>
                    </tr>

                }
            }




        </tbody>
    </table>
</div>








<!--Sp New Service requ details model -->


<button id="spserviceReqdetailsbtn" data-bs-toggle="modal" data-bs-target="#detailsModelServiceRequest" class="d-none">details</button>



<div class="modal" tabindex="-1" id="detailsModelServiceRequest">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-start" style="padding:2% !important">
            <div class="modal-header">
                <h5 class="modal-title">Service Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body float-start row">
                <div class="col-md-6 col-sm-12">
                    <h4 id="SpServiceReqDatetime">05/10/2021 <br> 08:00 - 11:30</h4>
                    <p>Duration: <span id="SpServiceReqDuration"> 3 hrs </span> </p>
                    <hr>
                    <p>Service id: <span id="SpServiceReqId"> 8852</span></p>
                    <div class="row">
                        <p class="col-2">Extras: </p><br>
                        <div class="col-8 text-center" id="SpServiceReqExtra"></div>
                    </div>

                    <p class="pt-3 pt-sm-2">Total Payment: <span id="SpServiceReqAmount" class="price">8750 &euro;</span> </p>
                    <hr>
                    <p>Customer Name:<span id="SpServiceReqCustomerName">Adi</span></p>
                    <p>Service Address: <span id="SpServiceReqAddress">Ghuma Ahmedabad 380058</span></p>

                    <hr>

                    <p>Comments: <span id="SpServiceReqComment"></span></p>



                    <hr>


                    <div id="detailPopUpNew"><button id="newServiceReqAccept" type="submit" style="padding:5px 10px" class="rounded-pill btn-success">Accept</button></div>

                    <div id="detailPopUpUpComing">
                        <button id="newServiceReqCompleteBtn" class="rounded-pill btn-success" type="submit" style="padding:5px 10px">Complete</button>
                        <button id="newServiceReqCancelBtn" type="submit" style="padding:5px 10px" class="rounded-pill btn-danger">Cancel</button>
                    </div>




                </div>
                <div class="col-md-6 col-sm-12" id="newServiceReqMap">
                </div>

            </div>
        </div>
    </div>
</div>